<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.image">   <!-- 이때, 네임스페이스(namespace)는 각각의 매퍼를 구분하는 고유명이 됩니다. -->
	
	<!-- 게시물 이미지 저장하는 매퍼 -->
	<insert id="insertBoardImage" parameterType="com.board.domain.BoardImageVO">
		insert into tbl_board_image 
			(bno, filePath)
		values
			(#{bno},#{filePath})
	</insert>
	
	<!-- 사용자 프로필사진 업로드 하는 쿼리 -->
	<insert id="signUp" parameterType="com.board.domain.MemberVO">
		insert into board.tbl_member(id, password, writer, regDate)
		values (#{id}, #{password}, #{writer}, NOW());
	</insert>
	
	
</mapper>